$bc: "background-color";

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


section
{
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    #{$bc}: #09053f;

    input{
        width: 70%;
        height: 10%;
        font-size: 25pt;
        letter-spacing: 4px;
        padding: 0.5rem;
        border: none;
        outline: none;
        border-radius: 5px;
        padding-left: 5%;
        margin-top: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .ul-container
    {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 90%;
            font-size: 2rem;
            padding: 0.5rem;
            margin-top: 10vh;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            div.container{
                width: 25%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .btn-clear{
        height: 10%;
        width: 40%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.5rem;
        font-size: 2rem;
        #{$bc}: #ff2a2a;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        color: white;
        margin-top: 50px;
        transition: all 0.5s ease;
        &:hover{
            #{$bc}: #db0a0a;
        }
    }
}

.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    #{$bc}: #300065;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
    animation: ani 0.7s ease-in;
}

.alert-date-low
{
    font-family: verdana;
    font-size: 35pt;
    color: #eae2b7;
    text-align: center;
    text-shadow: 4px 3px 4px rgb(138, 138, 138);
    margin-top: 10%;
    margin-bottom: 10%;
    width: 70%;
}

.okbtn
{
    width: 20%;
    height: 10%;
    font-family: verdana;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 25pt;
    padding: 3px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
    outline: none;
    #{$bc}: white;
    transition: all 0.5s ease;
    border: 4px solid #f77f00;
    color: #f77f00;
    &:hover{
        color: white;
        #{$bc}: #f77f00;
    }
}

.display-off
{
    display: none;
}

@media only screen and(max-width: 1000px)
{
    .btn-clear
    {
        width: 60%;
        font-size: 1rem;        
    }

    section{
        height: 100vh;

        input{
            width: 70%;
            height: 7%;
        }
    }

    .div-container{
        width: 100%;

        .ul{
            width: 50%;
            height: 80%;
        }
    }
}

@media only screen and(max-width: 800px)
{
    .ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
}

@media only screen and(max-width: 580px)
{
    .btn-clear{
        width: 70%;
        margin-top: 100px;
        font-size: 10pt;
        padding: 0;
    }

    .input{
        font-size: 18pt;
    }
}

@keyframes ani
{
    0%{
        transform: scale(0.2);
    }
    12%{
        transform: scale(0.3);
    }
    25%{
        transform: scale(0.4);
    }
    37%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.6);
    }
    62%{
        transform: scale(0.7);
    }
    74%{
        transform: scale(0.8);
    }
    86%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}